.bannerContainer{
  background-color: white;
  width:100%;
  display: flex;
  align-items: center;
}
.bannerBox{
  width:100%;
  height:70%;
  display: flex;
  justify-content: center;   
  align-items: center;
}
.infoBox{
    position: fixed;
    width:100%;
    height: 5vh;
    display: flex;
    justify-content: center;   
    align-items: center;
    background-color: #270303;
}
.infoBoxA{
    width:100%;
    height: 5vh;
    display: flex;
    justify-content: center;   
    align-items: center;
    background-color: #270303;
}
.textBox{
  width:100%;
  height:70%;
  display: flex;
  justify-content: end;   
  align-items: center;
}
.text{
  text-align: center;
}
.menu{
  width:100%;
  height:70%;
  display: flex;
  justify-content: center;   
  align-items: center;
}
.menu>li{
  padding:0.6em;
  color:black;
}
.menu>li>a>span:hover{
  color:#803705;
}
.textInfo{
  color:white;
  font-size: 1em;
  font-weight: 700;
  font-family: 'arial', sans-serif;
}
H1{
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
H2{
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
.textA{
  color:#999999;
  font-size: 3.5em;
  font-weight: 700;
  font-family: 'arial', sans-serif;
}
.textB{
  color:#ff8b00;
  font-family: 'arial', sans-serif;
  font-size: 2.9em;
  font-weight: 700;
}
.panels{
display: flex;
flex-direction: column;
}
.sectionContainer{
  padding:2em 0em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav{
  display: flex;
}
.nav>li>a{
  padding: 0 0.75em;
  line-height: 2.5em;
  font-size:1.1em;
  font-weight: 700;
  color: rgba(102, 102, 102, 0.85);
  text-decoration:none;
}
.nav>li>a>span:hover{
  color:rgb(202, 138, 0);
}
.carousel{
  display: flex;
  justify-content: center;
  background-color: rgb(66, 36, 36);
  width:100%;
  height:100vh;
}
#description {
  width: 50%;
  display: none;
  font-weight: 400;
  color: #777;
  margin:0 auto;
}
p{
  margin-bottom: 1.3em;
}
.nav>li>a>span{
color: #803705;
font-size:14px;
}
.logoContainer{
text-align: center;
}
.iconContainer{
display: flex;
align-items: center;
}